altgraph==0.16.1
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
future==0.17.1
idna==2.8
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
macholib==1.11
pefile==2018.8.8
Pillow==6.0.0
Pygments==2.3.1
PyInstaller==3.4
pypiwin32==223
pywin32==224
pywin32-ctypes==0.2.0
requests==2.21.0
urllib3==1.24.1
